@charse "UTF-8";


body {
    font-family: Arial,  sans-serif;
    background-color: #fff;
    color: rgba (0,0,0,1);
}
div#interface {
    width: 1100px;
    background-color: #fff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0,0,.4);
    padding: 10px;

}
p#minibio {
    font-size: clamp(1.75em, 1em+ 3vw, 2.5);
    text-align: justify;
    
    
  
}
header#cabecalho img#icone {
    position: absolute;
    left: 1000px;
    top: 225px;
}
header#cabecalho {
    border-bottom: 1px blue solid;
    }
header#cabecalho h1 {
    font-family: font-family 'Prompt', sans-serif;
    font-size: 30px;
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0,0,.6);
}   
img#icone {
    margin-top: 200px;
} 
nav#menu {
    display: block;

}
h1 {
    text-decoration: none;
}
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 650px;

    
}
nav#menu li{
  display: inline-block;
  background-color: #dddddd;  
  padding: 10px;
  margin: 2px;
  transition: background-color 1s;

}
nav#menu li:hover {
    background-color: #606060;

}
nav#menu a {
    color: blue;
    text-decoration: none;

}
nav#menu a:hover{
    color: #ffff;
    text-decoration: underline;
}
section#Home h3
 {
    font-size: 25px;
    color: black
   
}

section#Filmografia h2 {
    font-size: 25px;
    text-align: center;
    background-color: #dddddd;
    color: gray;
    text-shadow: 1px 1px 1px rgba(0, 0,0,.6);
}
    div#Teatro h2{
    font-size: 25px;
    text-align: center;
    background-color: #dddddd;
    color: gray;
    text-shadow: 1px 1px 1px rgba(0, 0,0,.6);
}    
/*Galeria de fotos*/
figure.galeria img {
    margin-left: -20px;
    align-items: center;  
    padding-left: 12%;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
    }
figure.galeria img:hover {
    -webkit-transform: scale(1.5);
    -webkit-transition: all 1s ease-in;
    
}
div.gallery {
    text-align: center;
    }
section#contato h3 {
    font-family: font-family 'Prompt', sans-serif;
    font-size: 25px;
    color: gray;
    text-shadow: 1px 1px 1px rgba(0, 0,0,.6);
    text-align: center;
    background-color: #dddddd;
    }
section#contato p {
    text-align: center;
    
}    
img#zap {
    display: flex;
    position: relative;
    height: 8vw;
    width: 8vw;
    bottom: 25px;
    right: -450px;
    cursor: pointer;
}
footer#Rodape a:hover {
    text-decoration: underline;
    color: gray;
}
footer#Rodape {
    clear:both
}   
footer#Rodape p {
        text-align: center;
        border-top: 1 px solida #606060;
}
form#formulario {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #606060;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    max-width: 600;
    font-size: 1.125rem;
}
.form label,
.form input,
.form textarea,
.form button {
    display: block;
    width: 100%;
    
}
form#label {
    color:#fff;
    line-height: 1;
    margin-bottom: 0.5rem;
}
form#input,
form#textarea{
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
}
.form textarea {
    min-height: 13rem;
    resize: vertical;
}
button#enviar{
    margin-top: 5px;
}
@media screen and (max-width:900px){
    header#cabecalho{
        display: none;
    }
    img#icone{
        display: none;
    }
}
    p#minibio{
        font-size: clamp(1.75em, 1em+ 3vw, 2.5);
    }
    p#marca{
        display: flex;
        margin: auto;
    }
    
